body { 
    margin: 0;
    min-height: 100vh;
    grid-template-rows: auto 1fr; 
    display: grid;
    place-items: center;

}

#content {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    place-items: center;
}
.pisun{
    place-items: center;
}

#vocablary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}

.noClickLetter {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pipka {
    width: 50px;
    height: 50px;
    background-color: plum;
    display: none;
    
}

#balls {
    display: flex;
}

.textGame {
    background: linear-gradient(145deg, #1a2a6c, #b21f1f, #fdbb2d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 35px;
}

header {
    place-items: none;
    width: 100;
    height: 60px;
    background-color: aqua;
    font-size: 25px;
    display: flex;
    align-items: center;
    align-self: start; /* убирает вертикальное центрирование */
    justify-self: stretch; /* растягивает на всю ширину */
    
    
}

#nav__pageName--text{
    margin:auto;
}

#backToChoise{
    margin-left: 20px;
    padding: 7px;
}

