body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; 
}

header {
    width: 100wh;
    height: 60px;
    background-color: aqua;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#nav__pageName--text{
    margin:auto;
}

main{
    margin-top:100px;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    gap:50px;
    
}

.container{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 50px;
    font-size: 30px;
}

.theme-checkbox{
    width: 20px;
    height: 20px;
}

#start-button{
    width: 100px;
    height: 20px;
}

@media (max-width: 768px){
    body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto; 
    }
    
    header {
        width: 100wh;
        height: 60px;
        background-color: aqua;
        font-size: 25px;
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    
    #nav__pageName--text{
        margin:auto;
    }
    
    main{
        margin-top:100px;
        display: flex;
        padding-left: 40px;
        flex-direction: column;
        gap:50px;
        
    }
    
    .container{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 50px;
        font-size: 30px;
    }
    
    .theme-checkbox{
        width: 20px;
        height: 20px;
    }
    
    #start-button{
        width: 150px;
        height: 50px;
        margin: 0 auto auto;
    }
    

}
